html, body {
  background: rgb(17, 17, 17);
}

body {
  margin: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.btn-group {
  display: flex;
  margin: 0 30px;
}

button {
  padding: 5px 10px;
  box-shadow: none;
  border: 1px solid #848484;
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 5px;
  margin: 5px ;
  display: flex;
  align-items: center;
}

button.primary {
  background: #25baa4;
  border: 1px solid #1d9e8b;
}

button:hover {
  cursor: pointer;
}

i {
  width: 16px;
  height: 16px;
  font-size: 18px !important;
  margin-right: 8px;
}


canvas {
  margin: 30px;
  margin-top: 0;
}

.prediction {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 10px 30px;
  margin-bottom: 0;
  background-color: #f8f8f8;

  width: 260px;
}

#label,
#confidence {
  padding: 10px;
}

#label {
  background: antiquewhite;
}

.disabled {
  background-color: gray;
}

.disabled:hover {
  cursor: not-allowed;
}

.alert {
  padding: 10px 20px;
  margin: 10px 0;
  background: #dfdfdf;
  border-radius: 5px;
}

footer {
  position: absolute;
  bottom: 50px;
}

footer a, a:hover, a:active, a:visited {
  text-decoration: none;
  cursor: pointer;
  color: rgb(230, 230, 230);
}
